@model UserLoginViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] User Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HospitalAppointmentSystem.styles.css" asp-append-version="true" />
    <title>Giriş yap</title>
</head>
<body>
    <div class="login-wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-8 side-image">
                    <div class="text">
                        <p>Sağlığınız Bize Emanet</p>
                    </div>
                </div>
                <div class="col-md-4 form-area">
                    <div class="container form-box">
                        <h5>Giriş Yap</h5>
                        <form asp-controller="Account" asp-action="UserLogin" method="post">
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" asp-for="@Model.TcKimlikNo" placeholder="T.C Kimlik No ">
                                <span asp-validation-for="@Model.TcKimlikNo" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-1">
                                <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Şifre">
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            </div>
                            <div class="d-flex mb-3 mx-2">
                                <small><a asp-controller="User" asp-action="ForgetPassword">Şifremi unuttum</a></small>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-outline-secondary" >Giriş Yap</button>
                                <a type="button" class="btn btn-outline-secondary" asp-controller="User" asp-action="SignIn">Üye Ol</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
