@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HospitalAppointmentSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HospitalAppointmentSystem.styles.css" asp-append-version="true" />
    <title>Giriş yap</title>
</head>
<body>
    <div class="login-wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-8 side-image">

                    <div class="text">
                        <p>Sağlığınız Bize Emanet</p>
                    </div>

                </div>

                <div class="col-md-4 form-area">
                    <div class="container form-box">
                        <h5>Üye Ol</h5>
                        <form asp-action="SignIn" method="post" class="needs-validation" novalidate>
                            <div class="form-group mb-2">
                                <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="Ad " required>
                                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <input type="text" class="form-control" asp-for="@Model.UserSurname" placeholder="Soyad " required>
                                <span asp-validation-for="@Model.UserSurname" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <input type="text" class="form-control" asp-for="@Model.UserIdentityNo" placeholder="T.C Kimlik No " required>
                                <span asp-validation-for="@Model.UserIdentityNo" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <input type="email" class="form-control" asp-for="@Model.UserMail" placeholder="E-Mail " required>
                                <span asp-validation-for="@Model.UserMail" class="text-danger"></span>
                            </div>

                            <div class="gender mb-2">
                                <div class="form-check mx-2">
                                    <input class="form-check-input" type="radio" name="UserGender" id="flexRadioDefault1" value="Kadın" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Kadın
                                    </label>
                                </div>
                                <div class="form-check mx-2">
                                    <input class="form-check-input" type="radio" name="UserGender" id="flexRadioDefault2" value="Erkek">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Erkek
                                    </label>
                                </div>
                                <span asp-validation-for="@Model.UserGender" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <input type="date" class="form-control" asp-for="@Model.UserBirthday" placeholder="Doğum Tarihiniz " required>
                                <span asp-validation-for="@Model.UserBirthday" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <input type="password" class="form-control" asp-for="@Model.UserPassword" placeholder="Şifre ">
                                <span asp-validation-for="@Model.UserPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-1">
                                <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Şifre(Tekrar) ">
                                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-outline-secondary">Üye Ol</button>
                            <p class="mt-2 mb-2" style="font-size: small">Bir hesabınız var mı?</p>
                            <a href="/User/Index/">Giriş Yap</a>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>