@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = null;
}

<!DOCYTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Dashboard"] - HospitalAppointmentSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HospitalAppointmentSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <!--nav-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light custom_nav-container container-fluid">
        <a class="navbar-brand" asp-controller="Admin" asp-action="Dashboard" style="display: flex; flex-direction: row; align-items: center;">
            <img src="~/images/sagliklogo.png" alt="Logo" class="d-inline-block align-text-top" width="50px" height="50px">
            <div style="margin-left:3px; color: #45474B;">HRS</div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-controller="Hospital" asp-action="Index">@Localizer["Hastane İşlemleri"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-controller="MajorDepartment" asp-action="Index">@Localizer["AnaBilimDalı İşlemleri"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-controller="Policlinic" asp-action="Index">@Localizer["Poliklinik İşlemleri"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-controller="Doctor" asp-action="Index">@Localizer["Doktor İşlemleri"]</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @Localizer["Üye İşlemleri"]
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" aria-current="page" asp-controller="Admin" asp-action="ListUser">@Localizer["Üye Listesi"]</a></li>
                        <li><a class="dropdown-item" aria-current="page" asp-controller="Admin" asp-action="ListRol">@Localizer["Rol Listesi"]</a></li>
                    </ul>
                </li>
            </ul>
            <div class="ms-auto" style="display:flex;">
                <div class="dropdown" style="margin-right: 10px;">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/language.png" width="24px" height="24px" />
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/Admin/Dashboard/?ui-culture=tr">Türkçe</a></li>
                        <li><a class="dropdown-item" href="/Admin/Dashboard/?ui-culture=en">English</a></li>
                    </ul>
                </div>
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                @Localizer["Merhaba"], @User.Identity.Name
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">@Localizer["Çıkış Yap"]</a></li>
                        </ul>
                    </div>
                    }
            </div>

        </div>
    </nav>

    <main>
            @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
