@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model EditUserViewModel
@{
    Layout = "_Dashboard";
}

<div style="display:flex; flex-direction:column; align-items:center;">
    <h5 style="display:flex; justify-content:center; margin-top:10px;">Kullanıcı Düzenle</h5>
    <div class="col-md-4 form-area">
        <div class="container form-box">
            <form asp-action="EditUser" method="post" class="needs-validation" novalidate>
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="form-group mb-2">
                    <label class="control-label" asp-for="@Model.UserName">Ad: </label>
                    <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="@Localizer["Ad"] " required>
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label class="control-label" asp-for="@Model.UserName">Soyad: </label>
                    <input type="text" class="form-control" asp-for="@Model.UserSurname" placeholder="@Localizer["Soyad"] " required>
                    <span asp-validation-for="@Model.UserSurname" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label class="control-label" asp-for="@Model.UserName">Kullanıcı Adı: </label>
                    <input type="text" class="form-control" asp-for="@Model.FullName" placeholder="@Localizer["Kulanıcı Adı"] " required>
                    <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label class="control-label" asp-for="@Model.UserName">E-Mail: </label>
                    <input type="email" class="form-control" asp-for="@Model.EmailAddress" placeholder="@Localizer["E-Mail"] " required>
                    <span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label class="control-label" asp-for="@Model.UserName">Telefon Numarası: </label>
                    <input type="tel" class="form-control" asp-for="@Model.PhoneNumber" placeholder="___-___-____" required>
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="card mb-2">
                    <div class="card-header">
                        Parola Güncelle
                    </div>
                    <div class="form-group mb-2">
                        <input type="password" class="form-control" asp-for="@Model.Password" placeholder="@Localizer["Şifre"] ">
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-1">
                        <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" placeholder="@Localizer["Şifre(Tekrar)"] ">
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



