@model IEnumerable<AppUser>
@{
    Layout = "_Dashboard";
}

<div style="display: flex; flex-direction: column; align-items: center;">
    <a class="btn btn-outline-secondary" style="margin-top:20px" asp-action="CreateUser">Kullanıcı Ekle</a>
    <hr />
    <table class="table table-bordered" style="width: 95%">
        <thead>
            <tr>
                <th>Kullanıcı Adı</th>
                <th>Adı Soyadı</th>
                <th>Email</th>
                <th>Telefon Numarası</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FullName</td>
                    <td>@user.UserName @user.Surname</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        <a asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-outline-primary btn-sm">Güncelle</a>
                        <form asp-action="DeleteUser" method="post" onsubmit="return confirm('Kullanıcıyı silmek istediğinizden emin misiniz?')" style="display: inline-block;">
                            <input type="hidden" value="@user.Id" name="id" />
                            <button type="submit" class="btn btn-outline-danger btn-sm">Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
